$left-chat: rgb(146, 65, 200);
$right-chat: rgb(110, 93, 126);
$placeholder-text: rgb(198, 202, 205);
$main-heading: rgb(62, 39, 83);
$parrafo: rgb(163, 157, 170);
$username: rgb(216, 158, 255);
$white: hsl(0, 0%, 100%);
$app-bg: rgb(245, 243, 247);
$submit-buttn-bg: hsl(271, 36%, 24%);
$radio-bttn-ol: hsl(289, 100%, 72%);
$font : 'Rubik, sans-serif';

